<body>
  <h1>Battle!</h1>
  <form action="/names" method="POST">
    <fieldset>
      <label for="p1name">Player 1 Name:</label>
      <input name="Player_1_Name" type="text" id="p1name">
      <label for="p2name">Player 2 Name:</label>
      <input name="Player_2_Name" type="text" id="p2name">
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</body>